.row{
  overflow: hidden;
  display: block;
  // border-bottom: 1px solid $lightsiver;
  margin: 0 0 6px 0;
  &:first-child{
    padding-top: 0;
  }
  &:last-child{
    border: none;
    margin: 0;
  }
  @media only screen and (max-width:1023px) {
    border: none;
  }
}



.startfields{
  padding: 0.5em;
  position: relative;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  h3{
    font-family: 'WeissenhofGrotesk-Regular', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
    line-height: 1.1em;
    margin-top: 3px;
    letter-spacing: -0.1px;
    color: $coral!important;
    @media only screen and (max-width:1023px) {
    font-size: 1.25em;
    }
  }
  figure{
    max-width: 100%;
    a{
      display: block;
    }
  }
  p{
    font-family: 'WeissenhofGrotesk-Regular', Arial, sans-serif;
    font-size: 0.9em;
    margin-top: 0.75em;
    margin-bottom: 0!important;
    line-height: 1.18em;
    letter-spacing: -0.1px;
    @media only screen and (max-width:1023px) {
      font-size: 1em;
    }
  }
  a:hover{
    background-color: $gold;
    color: white;
    img{
      opacity: 0.75;
    }
  }
}
.links{
  padding: 0 0.75em 0 0;
}
.mitte{
  padding: 0 0.75em 0 0.75em;
  // border-left: 1px solid $lightsiver;
  // border-right: 1px solid $lightsiver;
}
.rechts{
  padding: 0 0 0 0.75em;
}
.links, .mitte, .rechts{
  float: left;
  width: 33.333%;
  display: block;
  overflow: hidden;
  @media only screen and (max-width:768px) {
    padding: 10px 0;
    float: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid $lightsiver;
  }
}
.fieldimg{
  width: 42%;
  @media only screen and (max-width: 768px){
    width: 50%;
  }
  figure{
    padding: 0;
    margin: 0;
  }
}
.fieldcontent{
  padding: 6px;
  width: 58%;
  @media only screen and (max-width: 768px){
    width: 50%;
    padding: 1em;
  }
}
.post_row{
  width: 100%;
  clear: both;
}
.newslist{
  float: left;
  width: 50%;
  overflow: hidden;
  margin-bottom: 40px;
  @media only screen and (max-width:1024px) {
    width: 100%;
  }
  h3{
    font-size: 1.25em;
  }
  figure{
    float: left;
    max-width: 200px;
    padding: 0 15px 0 0;
  }
}
.newslist:nth-child(odd){
  padding-right: 10px;
}
.newslist:nth-child(even){
  padding-left: 10px;
}
.maingrid{
  position: relative;
  display: table;
}
.maingrid{
  width: 85%;
  display: table-cell;
  vertical-align: top;
  @media only screen and (max-width:1024px) {
    width: 100%;
  }
}
.goldsidebar{
  display: table-cell;
  vertical-align: top;
  padding: 0 12px;
  background-color: $gold;
  overflow: hidden;
  color: white;
  @media only screen and (max-width:1024px) {
    display: none;
  }
  img{
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  h3{
    color: white;
    font-size: 1.25em;
    margin: 0.5em 0;
  }
  a{
    color: white;
    &:hover{
      opacity: 0.75;
    }
  }
  p{
    color: white;
    font-size: 0.90em;
  }
}
.features{
  width: 100%;
  overflow: hidden;
  padding: 12px;
  background-color: white;
}
.feature{
  width: 50%;
  float: left;
  min-height: 215px;
  background-repeat: no-repeat;
  background-size: cover!important;
  position: relative;
  border-bottom: 12px solid white;
  .biglink{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    &:hover{
      background-color: rgba($gold,.50);
    }
  }
  .lockup{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 0.7em 1em 0.25em 0.7em;
    color: white;
    width: 100%;
    background-color: rgba($gold,0.93);
    h3{
      margin: 0;
      text-transform: uppercase;
      color: white;
    }
    p{
      font-weight: 400;
      margin: 0;
      color: white;
    }
    a{
      color: white;
      &:hover{
        color: $red;
      }
    }
  }
}
.feature:nth-child(odd){
  border-right: 6px solid white;
}
.feature:nth-child(even){
  border-left: 6px solid white;
}
.banner{
  background-color: $red;
  padding: 1em;
  position: absolute;
  top: 10px;
  width: 45%;
  right: -25px;
  text-align: center;
  z-index: 9999;
  transform: rotate(-2.5deg) skew(-2.51deg);
  @media only screen and (max-width:1140px) {
    top: 0;
    right: 0;
    width: 100%;
    transform: rotate(0deg) skew(0deg);
  }
  h4{
    color: white;
    font-size: 1.5em;
    margin: 5px 0;
  }
  p{
    color: white!important;
  }
}
.flexcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.start-content{
  padding: 0.5em;
  flex: 2;
  @media only screen and (max-width:1024px) {
    flex-basis: 100%;
    order: 2;
  }
}
.story-area{
  background-size: cover!important;
  color: white!important;
  p{
    color: white!important;
    font-weight: 600;
    hyphens: auto;
  }
  #multi-step-form .fw-step-part{
    background: darken(#A33749, 18%); 
  }
  h1.divisions{
    background-color: darken(#A33749, 18%)!important;
    span{
      background-color:darken(#A33749, 18%)!important;
    }
  }
  h2.fw-step-part-title{
    color: white!important;
  }
  h3.widget-title{
    font-size: 2.1em!important;
    line-height: 1.2em;
  }
  h2.hrf-title{
    background-color:darken(#A33749, 18%)!important;
    color: white!important;
    font-weight: 600!important;
  }
}
.story-sidebar{
  flex: 1;
  padding: 3em 1em;
  background-size: cover!important;
  text-align: center;
  color: white;
  min-height: 400px;
  @media only screen and (max-width:1024px) {
    flex-basis: 100%;
    order: 1;
  }
  h1,h2,h3,h4,h5{
    color: white;
    font-family: 'WeissenhofGrotesk-Regular', Arial, Helvetica, sans-serif;
  }
  strong{
    font-family: 'WeissenhofGrotesk-Bold', Arial, Helvetica, sans-serif;
  }
  h2{
    font-size: 2.1em;
    line-height: 1.44em;
    margin: 0 0 3em 0; 
  }
  h3{
    margin: 1em 0;
  }
  h4{
    font-size: 1.66em;
    line-height: 1.11em;
  }
}
.start-article{
  text-align: left;
  margin: 0 0 1em 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media only screen and (max-width: 768px){
    flex-direction: column;
    padding: 0.5em;
  }
}
.start-article:last-of-type{
  margin: 0;
}
.article-info{
  flex-basis: 60%;
  padding: 0.5em 0 0 0.5em;
  p{
    hyphens: auto;
  }
  @media only screen and (max-width: 768px){
    padding: 0.5em 0;
  }
}
.article-image{
  flex-basis: 40%;
  width: 100%;
}
.article-link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &:hover{
    background-color: rgba($coral, 0.25)!important;
  }
}
.weichnachten-btn{
  background: #D5C400;
  border: 2px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: black!important;
  padding: 0.85em 1.85em;
  display: inline-block;
  font-family: 'WeissenhofGrotesk-Regular', Arial, Helvetica, sans-serif;
}
.padding0{
  padding: 0!important;
}


  // font-family: 'WeissenhofGrotesk-Light', Arial, Helvetica, sans-serif
  // font-family: 'WeissenhofGrotesk-Medium', Arial, Helvetica, sans-serif
  // font-family: 'WeissenhofGrotesk-Regular', Arial, Helvetica, sans-serif